*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

@mixin max-width {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin padding {
  padding: 0 15px;
}

header {
  @include padding;
  .header__container {
    @include max-width;
    display: flex;
    align-items: center;
    padding: 30px 0;
    &_logo {
      a {
        text-decoration: none;
        img {
          max-width: 70px;
          max-height: 56px;
        }
      }
    }
    &_title {
      font-size: 49px;
      font-style: normal;
      font-family: "Josefin Sans", sans-serif;
      color: #000000;
      text-decoration: none;
      text-align: left;
      line-height: 53px;
    }
  }
}

main {
  @include padding;
  .main__container {
    @include max-width;
    padding: 230px 0;
    &_title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 58px;
      font-size: 50px;
      color: rgba(45, 13, 87, 1);
      text-decoration: none;
      // text-transform: capitalize;
      text-align: center;
    }
  }
}

.service {
  @include padding;

  &__container {
    @include max-width;
    &_title {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 34px;
      line-height: 38px;
      text-align: center;
      color: #333333;

      margin-bottom: 50px;
    }
    &_main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 30px;

      margin-bottom: 50px;
      .service__content {
        max-width: 570px;
        &_title {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 24px;
          line-height: 38px;
          text-align: left;
          color: #333333;
        }
        &_text {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 28px;
          color: #3b393b;
          text-align: left;
        }
      }
      img {
        max-width: 517px;
        width: 100%;
      }
      &:last-of-type {
        flex-direction: row-reverse;
        img {
          max-width: 370px;
        }
      }
    }
  }
}

.footer {
  @include padding;

  &__container {
    @include max-width;
    display: flex;
    justify-content: space-between;
    &_about {
      img {
        max-width: 60px;
      }
      .footer__about_inn,
      .footer__about_site {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: #333333;
      }
    }
    &_contacts {
      max-width: 350px;
      width: 100%;
      .footer__contacts_item {
        display: flex;
        align-items: center;
        svg {
          max-width: 24px;
          margin-right: 20px;
        }
        a {
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: left;
          color: #333333;
          span {
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}
